
.mb-md {
  margin-bottom: 15px;
}

.mt-lg {
  margin-top: 30px;
}

.algin-center {
  text-align: center;
}

.p {
  padding: 20px;
}

.left-blue-border {
  padding-left: 6px;
  border-left: 3px solid #6495ED;
}