@import '~antd/dist/antd.css';

.ant-layout-header,
.ant-layout-sider,
.ant-layout-content,
.ant-layout-footer {
  background: #fff;
}

.mb-md {
  margin-bottom: 15px;
}

.algin-center {
  text-align: center;
}

.main-container {
  min-height: 500px;
  padding: 0 170px 32px 64px;
  position: relative;
  background: #fff;
}